// @import url('../styles/vars.less');

.layout {
  min-height: 100vh;

  :global(.ant-layout-header) {
    width: 100%;
    color: #fff;
    background-color: rgb(0, 53, 88);
  }

  .header {
    display: flex;
    justify-content: space-between;

    .logo-container {}

    .user {}
  }

  .site-layout-content {
    background: #fff;

    :global(.ant-layout-footer) {
      padding: 13px 50px;
    }

    .containerDiv {
      padding: 10px;
      height: calc(100% - 48px);
    }
  }
}
